{% extends 'accounts/main.html'%}
{% block content %}
<br>
<div class="row">
    <div class="col">
        <div class="col-sm">
            <div class="card text-center text-black mb-3">
                <div class="card-header">
                    <h5 class="card-title">Customer: <span> {{ customer.name }}</span></h5>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary btn-sm btn-block" href="">Update Customer Details</a>
                    <a class="btn btn-primary btn-sm btn-block" href="">Place Order</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-sm">
            <div class="card text-center text-black mb-3">
                <div class="card-header">
                    <h5 class="card-title">Contact Information</h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <tbody class="text-left">
                            <tr>
                                <td><b>Email</b></td>
                                <td>{{customer.email}}</td>
                            </tr>
                            <tr>
                                <td><b>Phone</b></td>
                                <td>{{customer.phone}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-sm">
            <div class="card text-center text-black mb-3">
                <div class="card-header">
                    <h5 class="card-title">Total Orders: <span>{{total_customer_orders}}</span></h5>
                </div>
                <div class="card-body text-left" style="margin-bottom: 0cm; padding-bottom: 0cm;">
                    <table class="table table-sm table-hover">
                        <tbody>
                            <tr>
                                <td><b>Pending</b></td>
                                <td>{{customer_pending_orders}}</td>
                            </tr>
                            <tr>
                                <td><b>Out for Delivery</b></td>
                                <td>{{customer_enroute_orders}}</td>
                            </tr>
                            <tr>
                                <td><b>Delivered</b></td>
                                <td>{{customer_delivered_orders}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive-sm">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Note</th>
                <th scope="col">Date Ordered</th>
                <th scope="col">Status</th>
                <th scope="col">Update</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            {% for order in customer_orders %}
            <tr>
                <td>{{order.product.name}}</td>
                <td>{{order.note}}</td>
                <td>{{order.date_created}}</td>
                <td>{{order.status}}</td>
                <td><a class="btn btn-primary btn-sm btn-block" href="{% url 'update_order' order.id %}">Update</a></td>
                <td><a class="btn btn-danger btn-sm btn-block" href="{% url 'delete_order' order.id %}">Delete</a></td>
            </tr>
            {% endfor %}


        </tbody>
    </table>
</div>

{% endblock %}