{% extends 'accounts/main.html'%}
{% block content %}
{% include 'accounts/status.html'%}

<div class="row">
    <div class="col-4">
        <h5>CUSTOMERS:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create Customer</a>
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Customer</th>
                        <th scope="col">Phone</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-8">
        <h5> LAST 5 ORDERS:</h5>
        <hr>
        <div class="card card-body">
            <div class="table-responsive-md">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Date Ordered</th>
                            <th scope="col">Status</th>
                            <th scope="col">Update</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}